@charset "ISO-8859-1";

nav a {
	text-decoration: none;
	color: inherit;
	font-size: 17px;
}

nav li {
	display: inline-block;
	width: 17%;
	padding: 40px 45px;
	background-color: #000;
	border: 1px solid #000;
	text-align: center;
	color: #fff;
}

nav li:hover {
	background-color: #fff;
	color: #000;
}

nav li {
	float: left;
	width: 17%;
	padding: 5px 10px;
	background-color: #2175bc;
	border: 30px solid #fff;
	text-align: center;
	color: #fff;
}

.caja {
	border: 1px solid #999;
	box-sizing: border-box;
	color: #444;
	display: inline-block;
	margin: 0.5%;
	padding: 1em;
	vertical-align: top;
	width: 31.9%;
}

.chartlist li {
	position: relative;
	display: block;
}

.chartlist .count {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0 0.3em;
	text-align: right;
	color: #999;
	font-weight: bold;
	font-size: 0.875em;
}

.chartlist li a {
	display: block;
	padding: 0.4em 4.5em 0.4em 0.5em;
	position: relative;
	z-index: 2;
}

.chartlist .index {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #B8E4F5;
	text-indent: -9999px;
	overflow: hidden;
}